.Cross{
    position: relative;
    top: -25px;
    left:53%;
    cursor: pointer;
}

.Options__Content{
    text-align: left;
    line-height: 1.5rem;
    padding-bottom: 40px;
}
.Options__Content h3 {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 20px;
}