.Bookamark__Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
    height: 58px;
    background-color: rgba(238, 212, 212, 0.301);
    border-radius: 30px;
    cursor: pointer;
}

.Bookmark__Icon {
    margin-top: 2px;
}

.Bookmark__Text {
    font-weight: 700;
    padding: 30px 30px 30px 10px;
}

.active{
    color:  #147b74;
    padding: 30px 30px 30px 10px;
}