.Counter{
    margin-top: 300px;
    margin-left: 20%;
}
.Counter__info {
    width: 90%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Counter h3 {
    text-align: center;
    color: rgb(20, 123, 116);
}

@media screen and (max-width: 830px){
    .Counter{
     width: 90%;
     margin-left: 5%;
    }
    .Counter__info{
        display: block;
    }
}


@media screen and (max-width: 450px){
    .Counter{
        margin-top: 400px;
       }
}

@media screen and (max-width: 336px){
    .Counter{
        margin-top: 450px;

       }
}