.Option{
    padding: 40px 30px;
    border-radius: 10px;
    border: 1px solid rgba(204, 204, 204, 0.644);
    margin: 30px 0;
}

.active {
    border: 1px solid hsl(176, 50%, 47%);
}

.disabled{
    opacity: 0.4;
}

.Option__Heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.PickOption{
    cursor: pointer;
}
.Option__Heading h4{
    color: black;
    padding-left: 20px;
}
.Option__Heading h4:hover{
    color: hsl(176, 50%, 47%);
}

.Option__Heading p{
    font-weight: 500;
    color: hsl(176, 50%, 47%);
    padding-left: 20px;
} 
.Option__left p{
    color: hsl(0, 0%, 48%);
    font-weight: 200;
}
.Option__left{
    position: relative;
    top: -28px;
    left: 90%;
    display: flex;
    align-items: center;
}
.Option__left h5{
    color: black;
    font-size: 1.5rem;
    margin-right: 10px;
}
.Radio__btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(204, 204, 204, 0.644);
}

.Radio__btn__active{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: hsl(176, 50%, 47%);
    margin-top: 3px;
    margin-left: 2.5px;
}
.Option__Heading_text{
    display: inline-flex;
    
}
.Option__Desc{
    text-align: left;
    width: 80%;
    margin: 10px 0 10px 45px ;
}

.Option__enterPledge{
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid rgba(204, 204, 204, 0.527);
    width: 108.8%;
    height: 4rem;
    margin-left: -4.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Option__enterPledge input {
    height: 50px;
    border: 1px solid hsl(176, 50%, 47%);
    border-radius: 30px;
    width: 90px;
    margin-left: 30%;
    margin-top: -18px;
    padding-left: 35px;
}
.Pledge__enter{
    display: flex;
    width: 265px;
    justify-content: space-between;
}

.Currency i{
    position: relative;
    top: 18px;
    left: 10px;
    font-weight: 700;
    font-style: normal;
    color:hsla(0, 0%, 48%, 0.384)
}
@media screen and (max-width: 980px){
    .Option__left{
        left: 80%;
    }
}
@media screen and (max-width: 740px){
    .Option__Heading_text{
        display: block;
        text-align: left;
    }
    .Option__Heading_Text p {
        padding-left: 20px;
        padding-top: 20px;
    }
    .OptionsList_Option__Heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 500px;
    }
    .Option__left{
        top: 130px;
        left: 11%;
    }
    .Option{
        padding: 40px 30px 80px;
    }
    .Option__enterPledge{
        width: 114.5%;
        margin-left: -7%;
        padding-top: 0;
        margin-left: -40px;
        margin-top: 60px;
        display: block;
    }
    .Option__enterPledge p {
        margin: auto;
        padding: 20px;
    }
    .Pledge__enter{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: auto;
    }
}