.titleCard{
    position: absolute;
    top: 350px;
    left: 20vw;
    color: hsl(0, 0%, 48%);
    text-align: center;
}
.titleCard p {
    padding-bottom: 30px;
}

.Buttons{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 830px){
    .titleCard{
        width: 90vw;
        left: 5vw;
    }
}