@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: white ;
 color:  #7a7a7a ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 16px;
 font-family: 'Commissioner', sans-serif;
}

button {
 cursor: pointer;
}